
@font-face {
	font-family: 'three_the_hard_wayregular';
	src: url('/assets/fonts/34c3/threhw-webfont.woff2') format('woff2'),
		url('/assets/fonts/34c3/threhw-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
