<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A.ss03</key>
    <string>A_.ss03.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.ss02</key>
    <string>D_e-cy.ss02.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dje-cy.ss03</key>
    <string>D_je-cy.ss03.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>Dzhe-cy.ss01</key>
    <string>D_zhe-cy.ss01.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>E-cy.ss01</key>
    <string>E_-cy.ss01.glif</string>
    <key>E-cy.ss03</key>
    <string>E_-cy.ss03.glif</string>
    <key>E.ss03</key>
    <string>E_.ss03.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Ef-cy.ss01</key>
    <string>E_f-cy.ss01.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>El-cy.ss02</key>
    <string>E_l-cy.ss02.glif</string>
    <key>El-cy.ss04</key>
    <string>E_l-cy.ss04.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Ereversed-cy.ss01</key>
    <string>E_reversed-cy.ss01.glif</string>
    <key>Ereversed-cy.ss03</key>
    <string>E_reversed-cy.ss03.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>G.ss03</key>
    <string>G_.ss03.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Ii-cy.ss01</key>
    <string>I_i-cy.ss01.glif</string>
    <key>Ii-cy.ss03</key>
    <string>I_i-cy.ss03.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Iu-cy.ss01</key>
    <string>I_u-cy.ss01.glif</string>
    <key>Iu-cy.ss03</key>
    <string>I_u-cy.ss03.glif</string>
    <key>J.ss03</key>
    <string>J_.ss03.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M.ss03</key>
    <string>M_.ss03.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pe-cy.ss01</key>
    <string>P_e-cy.ss01.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>S.ss03</key>
    <string>S_.ss03.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sha-cy.ss03</key>
    <string>S_ha-cy.ss03.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shcha-cy.ss03</key>
    <string>S_hcha-cy.ss03.glif</string>
    <key>Shcha-cy.ss05</key>
    <string>S_hcha-cy.ss05.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>T.ss03</key>
    <string>T_.ss03.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>Tshe-cy.ss03</key>
    <string>T_she-cy.ss03.glif</string>
    <key>U.ss03</key>
    <string>U_.ss03.glif</string>
    <key>V.ss02</key>
    <string>V_.ss02.glif</string>
    <key>V.ss04</key>
    <string>V_.ss04.glif</string>
    <key>W.ss03</key>
    <string>W_.ss03.glif</string>
    <key>W.ss04</key>
    <string>W_.ss04.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Ze-cy.ss01</key>
    <string>Z_e-cy.ss01.glif</string>
    <key>Ze-cy.ss03</key>
    <string>Z_e-cy.ss03.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhe-cy.ss01</key>
    <string>Z_he-cy.ss01.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ampersand.ss04</key>
    <string>ampersand.ss04.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
  </dict>
</plist>
