<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A-cy</key>
    <string>A_-cy.glif</string>
    <key>A-cy.ss02</key>
    <string>A_-cy.ss02.glif</string>
    <key>A-cy.ss03</key>
    <string>A_-cy.ss03.glif</string>
    <key>A-cy.ss04</key>
    <string>A_-cy.ss04.glif</string>
    <key>A.ss02</key>
    <string>A_.ss02.glif</string>
    <key>A.ss03</key>
    <string>A_.ss03.glif</string>
    <key>A.ss04</key>
    <string>A_.ss04.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Aacute.ss02</key>
    <string>A_acute.ss02.glif</string>
    <key>Aacute.ss03</key>
    <string>A_acute.ss03.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreve.ss02</key>
    <string>A_breve.ss02.glif</string>
    <key>Abreve.ss03</key>
    <string>A_breve.ss03.glif</string>
    <key>Acaron</key>
    <string>A_caron.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflex.ss02</key>
    <string>A_circumflex.ss02.glif</string>
    <key>Acircumflex.ss03</key>
    <string>A_circumflex.ss03.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresis.ss02</key>
    <string>A_dieresis.ss02.glif</string>
    <key>Adieresis.ss03</key>
    <string>A_dieresis.ss03.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Agrave.ss02</key>
    <string>A_grave.ss02.glif</string>
    <key>Agrave.ss03</key>
    <string>A_grave.ss03.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Amacron.ss02</key>
    <string>A_macron.ss02.glif</string>
    <key>Amacron.ss03</key>
    <string>A_macron.ss03.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aogonek.ss02</key>
    <string>A_ogonek.ss02.glif</string>
    <key>Aogonek.ss03</key>
    <string>A_ogonek.ss03.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aring.ss02</key>
    <string>A_ring.ss02.glif</string>
    <key>Aring.ss03</key>
    <string>A_ring.ss03.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Atilde.ss02</key>
    <string>A_tilde.ss02.glif</string>
    <key>Atilde.ss03</key>
    <string>A_tilde.ss03.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.ss01</key>
    <string>B_.ss01.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.ss01</key>
    <string>C_.ss01.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Cacute.ss01</key>
    <string>C_acute.ss01.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccaron.ss01</key>
    <string>C_caron.ss01.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccedilla.ss01</key>
    <string>C_cedilla.ss01.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.ss01</key>
    <string>D_.ss01.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>De-cy.ss02</key>
    <string>D_e-cy.ss02.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dje-cy.ss03</key>
    <string>D_je-cy.ss03.glif</string>
    <key>Dze-cy</key>
    <string>D_ze-cy.glif</string>
    <key>Dze-cy.ss01</key>
    <string>D_ze-cy.ss01.glif</string>
    <key>Dze-cy.ss03</key>
    <string>D_ze-cy.ss03.glif</string>
    <key>Dze-cy.ss04</key>
    <string>D_ze-cy.ss04.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>Dzhe-cy.ss01</key>
    <string>D_zhe-cy.ss01.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>E-cy.ss01</key>
    <string>E_-cy.ss01.glif</string>
    <key>E-cy.ss03</key>
    <string>E_-cy.ss03.glif</string>
    <key>E.ss01</key>
    <string>E_.ss01.glif</string>
    <key>E.ss03</key>
    <string>E_.ss03.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Eacute.ss01</key>
    <string>E_acute.ss01.glif</string>
    <key>Eacute.ss03</key>
    <string>E_acute.ss03.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecaron.ss01</key>
    <string>E_caron.ss01.glif</string>
    <key>Ecaron.ss03</key>
    <string>E_caron.ss03.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflex.ss01</key>
    <string>E_circumflex.ss01.glif</string>
    <key>Ecircumflex.ss03</key>
    <string>E_circumflex.ss03.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edieresis.ss01</key>
    <string>E_dieresis.ss01.glif</string>
    <key>Edieresis.ss03</key>
    <string>E_dieresis.ss03.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Edotaccent.ss01</key>
    <string>E_dotaccent.ss01.glif</string>
    <key>Edotaccent.ss03</key>
    <string>E_dotaccent.ss03.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Ef-cy.loclBGR</key>
    <string>E_f-cy.loclB_G_R_.glif</string>
    <key>Ef-cy.loclBGR.ss01</key>
    <string>E_f-cy.loclB_G_R_.ss01.glif</string>
    <key>Ef-cy.ss01</key>
    <string>E_f-cy.ss01.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Egrave.ss01</key>
    <string>E_grave.ss01.glif</string>
    <key>Egrave.ss03</key>
    <string>E_grave.ss03.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>El-cy.loclBGR</key>
    <string>E_l-cy.loclB_G_R_.glif</string>
    <key>El-cy.ss02</key>
    <string>E_l-cy.ss02.glif</string>
    <key>El-cy.ss04</key>
    <string>E_l-cy.ss04.glif</string>
    <key>Em-cy</key>
    <string>E_m-cy.glif</string>
    <key>Em-cy.ss01</key>
    <string>E_m-cy.ss01.glif</string>
    <key>Em-cy.ss03</key>
    <string>E_m-cy.ss03.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Emacron.ss01</key>
    <string>E_macron.ss01.glif</string>
    <key>Emacron.ss03</key>
    <string>E_macron.ss03.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>En-cy.ss01</key>
    <string>E_n-cy.ss01.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eogonek.ss01</key>
    <string>E_ogonek.ss01.glif</string>
    <key>Eogonek.ss03</key>
    <string>E_ogonek.ss03.glif</string>
    <key>Er-cy</key>
    <string>E_r-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Ereversed-cy.ss01</key>
    <string>E_reversed-cy.ss01.glif</string>
    <key>Ereversed-cy.ss03</key>
    <string>E_reversed-cy.ss03.glif</string>
    <key>Es-cy</key>
    <string>E_s-cy.glif</string>
    <key>Es-cy.ss01</key>
    <string>E_s-cy.ss01.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ss03</key>
    <string>G_.ss03.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Gje-cy</key>
    <string>G_je-cy.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.ss01</key>
    <string>H_.ss01.glif</string>
    <key>Ha-cy</key>
    <string>H_a-cy.glif</string>
    <key>Ha-cy.ss01</key>
    <string>H_a-cy.ss01.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I-cy</key>
    <string>I_-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Ie-cy</key>
    <string>I_e-cy.glif</string>
    <key>Ie-cy.ss01</key>
    <string>I_e-cy.ss01.glif</string>
    <key>Ie-cy.ss03</key>
    <string>I_e-cy.ss03.glif</string>
    <key>Iegrave-cy</key>
    <string>I_egrave-cy.glif</string>
    <key>Iegrave-cy.ss01</key>
    <string>I_egrave-cy.ss01.glif</string>
    <key>Iegrave-cy.ss03</key>
    <string>I_egrave-cy.ss03.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Ii-cy.ss01</key>
    <string>I_i-cy.ss01.glif</string>
    <key>Ii-cy.ss03</key>
    <string>I_i-cy.ss03.glif</string>
    <key>Iigrave-cy</key>
    <string>I_igrave-cy.glif</string>
    <key>Iigrave-cy.ss01</key>
    <string>I_igrave-cy.ss01.glif</string>
    <key>Iigrave-cy.ss03</key>
    <string>I_igrave-cy.ss03.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Iishort-cy.ss01</key>
    <string>I_ishort-cy.ss01.glif</string>
    <key>Iishort-cy.ss03</key>
    <string>I_ishort-cy.ss03.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Io-cy</key>
    <string>I_o-cy.glif</string>
    <key>Io-cy.ss01</key>
    <string>I_o-cy.ss01.glif</string>
    <key>Io-cy.ss03</key>
    <string>I_o-cy.ss03.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Iu-cy.ss01</key>
    <string>I_u-cy.ss01.glif</string>
    <key>Iu-cy.ss03</key>
    <string>I_u-cy.ss03.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.ss03</key>
    <string>J_.ss03.glif</string>
    <key>Je-cy</key>
    <string>J_e-cy.glif</string>
    <key>Je-cy.ss03</key>
    <string>J_e-cy.ss03.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.ss01</key>
    <string>K_.ss01.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Ka-cy.ss01</key>
    <string>K_a-cy.ss01.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>Kcommaaccent.ss01</key>
    <string>K_commaaccent.ss01.glif</string>
    <key>Kje-cy</key>
    <string>K_je-cy.glif</string>
    <key>Kje-cy.ss01</key>
    <string>K_je-cy.ss01.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ss01</key>
    <string>M_.ss01.glif</string>
    <key>M.ss03</key>
    <string>M_.ss03.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ss01</key>
    <string>N_.ss01.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Nacute.ss01</key>
    <string>N_acute.ss01.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncaron.ss01</key>
    <string>N_caron.ss01.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ncommaaccent.ss01</key>
    <string>N_commaaccent.ss01.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ntilde.ss01</key>
    <string>N_tilde.ss01.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O-cy</key>
    <string>O_-cy.glif</string>
    <key>O-cy.2</key>
    <string>O_-cy.2.glif</string>
    <key>O-cy.3</key>
    <string>O_-cy.3.glif</string>
    <key>O-cy.4</key>
    <string>O_-cy.4.glif</string>
    <key>O.2</key>
    <string>O_.2.glif</string>
    <key>O.3</key>
    <string>O_.3.glif</string>
    <key>O.4</key>
    <string>O_.4.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Oacute.2</key>
    <string>O_acute.2.glif</string>
    <key>Oacute.3</key>
    <string>O_acute.3.glif</string>
    <key>Oacute.4</key>
    <string>O_acute.4.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflex.2</key>
    <string>O_circumflex.2.glif</string>
    <key>Ocircumflex.3</key>
    <string>O_circumflex.3.glif</string>
    <key>Ocircumflex.4</key>
    <string>O_circumflex.4.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresis.2</key>
    <string>O_dieresis.2.glif</string>
    <key>Odieresis.3</key>
    <string>O_dieresis.3.glif</string>
    <key>Odieresis.4</key>
    <string>O_dieresis.4.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ograve.2</key>
    <string>O_grave.2.glif</string>
    <key>Ograve.3</key>
    <string>O_grave.3.glif</string>
    <key>Ograve.4</key>
    <string>O_grave.4.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Ohungarumlaut.2</key>
    <string>O_hungarumlaut.2.glif</string>
    <key>Ohungarumlaut.3</key>
    <string>O_hungarumlaut.3.glif</string>
    <key>Ohungarumlaut.4</key>
    <string>O_hungarumlaut.4.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Omacron.2</key>
    <string>O_macron.2.glif</string>
    <key>Omacron.3</key>
    <string>O_macron.3.glif</string>
    <key>Omacron.4</key>
    <string>O_macron.4.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Otilde.2</key>
    <string>O_tilde.2.glif</string>
    <key>Otilde.3</key>
    <string>O_tilde.3.glif</string>
    <key>Otilde.4</key>
    <string>O_tilde.4.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pe-cy.ss01</key>
    <string>P_e-cy.ss01.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.ss01</key>
    <string>S_.ss01.glif</string>
    <key>S.ss03</key>
    <string>S_.ss03.glif</string>
    <key>S.ss04</key>
    <string>S_.ss04.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Sacute.ss01</key>
    <string>S_acute.ss01.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scaron.ss01</key>
    <string>S_caron.ss01.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scedilla.ss01</key>
    <string>S_cedilla.ss01.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Sha-cy.ss03</key>
    <string>S_ha-cy.ss03.glif</string>
    <key>Sha-cy.ss05</key>
    <string>S_ha-cy.ss05.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shcha-cy.ss03</key>
    <string>S_hcha-cy.ss03.glif</string>
    <key>Shcha-cy.ss05</key>
    <string>S_hcha-cy.ss05.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.ss01</key>
    <string>T_.ss01.glif</string>
    <key>T.ss03</key>
    <string>T_.ss03.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tbar.ss01</key>
    <string>T_bar.ss01.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcaron.ss01</key>
    <string>T_caron.ss01.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcedilla.ss01</key>
    <string>T_cedilla.ss01.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Te-cy</key>
    <string>T_e-cy.glif</string>
    <key>Te-cy.ss01</key>
    <string>T_e-cy.ss01.glif</string>
    <key>Te-cy.ss03</key>
    <string>T_e-cy.ss03.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>Tshe-cy.ss03</key>
    <string>T_she-cy.ss03.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>U.ss01</key>
    <string>U_.ss01.glif</string>
    <key>U.ss03</key>
    <string>U_.ss03.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Uacute.ss01</key>
    <string>U_acute.ss01.glif</string>
    <key>Uacute.ss03</key>
    <string>U_acute.ss03.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Ucircumflex.ss01</key>
    <string>U_circumflex.ss01.glif</string>
    <key>Ucircumflex.ss03</key>
    <string>U_circumflex.ss03.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresis.ss01</key>
    <string>U_dieresis.ss01.glif</string>
    <key>Udieresis.ss03</key>
    <string>U_dieresis.ss03.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Ugrave.ss01</key>
    <string>U_grave.ss01.glif</string>
    <key>Ugrave.ss03</key>
    <string>U_grave.ss03.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Uhungarumlaut.ss01</key>
    <string>U_hungarumlaut.ss01.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Umacron.ss01</key>
    <string>U_macron.ss01.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uogonek.ss01</key>
    <string>U_ogonek.ss01.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Uring.ss01</key>
    <string>U_ring.ss01.glif</string>
    <key>Ushort-cy</key>
    <string>U_short-cy.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.ss01</key>
    <string>V_.ss01.glif</string>
    <key>V.ss02</key>
    <string>V_.ss02.glif</string>
    <key>V.ss04</key>
    <string>V_.ss04.glif</string>
    <key>VTF</key>
    <string>V_T_F_.glif</string>
    <key>Ve-cy</key>
    <string>V_e-cy.glif</string>
    <key>Ve-cy.ss01</key>
    <string>V_e-cy.ss01.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.ss01</key>
    <string>W_.ss01.glif</string>
    <key>W.ss03</key>
    <string>W_.ss03.glif</string>
    <key>W.ss04</key>
    <string>W_.ss04.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wacute.ss03</key>
    <string>W_acute.ss03.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wcircumflex.ss03</key>
    <string>W_circumflex.ss03.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wdieresis.ss03</key>
    <string>W_dieresis.ss03.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>Wgrave.ss03</key>
    <string>W_grave.ss03.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.ss01</key>
    <string>X_.ss01.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Ze-cy.ss01</key>
    <string>Z_e-cy.ss01.glif</string>
    <key>Ze-cy.ss03</key>
    <string>Z_e-cy.ss03.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhe-cy.ss01</key>
    <string>Z_he-cy.ss01.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.ss03</key>
    <string>ampersand.ss03.glif</string>
    <key>ampersand.ss04</key>
    <string>ampersand.ss04.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>lava</key>
    <string>lava.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>module</key>
    <string>module.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>orn.001</key>
    <string>orn.001.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
