<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A.ss03</string>
      <string>Aacute.ss03</string>
      <string>Abreve.ss03</string>
      <string>Acircumflex.ss03</string>
      <string>Adieresis.ss03</string>
      <string>Agrave.ss03</string>
      <string>Amacron.ss03</string>
      <string>Aogonek.ss03</string>
      <string>Aring.ss03</string>
      <string>Atilde.ss03</string>
      <string>A-cy</string>
      <string>A-cy.ss03</string>
    </array>
    <key>public.kern1.A.ss02</key>
    <array>
      <string>A.ss02</string>
      <string>Aacute.ss02</string>
      <string>Abreve.ss02</string>
      <string>Acircumflex.ss02</string>
      <string>Adieresis.ss02</string>
      <string>Agrave.ss02</string>
      <string>Amacron.ss02</string>
      <string>Aogonek.ss02</string>
      <string>Aring.ss02</string>
      <string>Atilde.ss02</string>
      <string>El-cy.loclBGR</string>
      <string>A-cy.ss02</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern1.AE</key>
    <array>
      <string>AE</string>
      <string>OE</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Es-cy</string>
      <string>E-cy</string>
      <string>E-cy.ss03</string>
    </array>
    <key>public.kern1.De-cy</key>
    <array>
      <string>De-cy</string>
      <string>Tse-cy</string>
      <string>Shcha-cy</string>
      <string>Shcha-cy.ss03</string>
      <string>Shcha-cy.ss05</string>
      <string>tse-cy</string>
      <string>shcha-cy</string>
    </array>
    <key>public.kern1.De-cy.ss02</key>
    <array>
      <string>De-cy.loclBGR</string>
      <string>De-cy.ss02</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>E.ss03</string>
      <string>Eacute.ss03</string>
      <string>Ecaron.ss03</string>
      <string>Ecircumflex.ss03</string>
      <string>Edieresis.ss03</string>
      <string>Edotaccent.ss03</string>
      <string>Egrave.ss03</string>
      <string>Emacron.ss03</string>
      <string>Eogonek.ss03</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Iegrave-cy.ss01</string>
      <string>Ie-cy.ss03</string>
      <string>Iegrave-cy.ss03</string>
      <string>Io-cy.ss03</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>G.ss03</string>
    </array>
    <key>public.kern1.Ge-cy</key>
    <array>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
    </array>
    <key>public.kern1.Gheupturn-cy</key>
    <array>
      <string>Gheupturn-cy</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>N.ss01</string>
      <string>Nacute.ss01</string>
      <string>Ncaron.ss01</string>
      <string>Ncommaaccent.ss01</string>
      <string>Ntilde.ss01</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Che-cy</string>
      <string>Dzhe-cy</string>
      <string>Yeru-cy</string>
    </array>
    <key>public.kern1.Hardsign-cy</key>
    <array>
      <string>Hardsign-cy</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>I-cy</string>
      <string>Yi-cy</string>
    </array>
    <key>public.kern1.Ia-cy</key>
    <array>
      <string>Ia-cy</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Zhe-cy</string>
      <string>Ka-cy</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
      <string>M.ss03</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>Em-cy</string>
      <string>Iishort-cy.ss01</string>
      <string>Iigrave-cy.ss01</string>
      <string>Ii-cy.ss03</string>
      <string>Iishort-cy.ss03</string>
      <string>Iigrave-cy.ss03</string>
      <string>Em-cy.ss03</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>O.2</string>
      <string>O.3</string>
      <string>O.4</string>
      <string>Oacute.2</string>
      <string>Oacute.3</string>
      <string>Oacute.4</string>
      <string>Ocircumflex.2</string>
      <string>Ocircumflex.3</string>
      <string>Ocircumflex.4</string>
      <string>Odieresis.2</string>
      <string>Odieresis.3</string>
      <string>Odieresis.4</string>
      <string>Ograve.2</string>
      <string>Ograve.3</string>
      <string>Ograve.4</string>
      <string>Otilde.2</string>
      <string>Otilde.3</string>
      <string>Otilde.4</string>
      <string>D.ss01</string>
      <string>O-cy</string>
      <string>Ereversed-cy</string>
      <string>Iu-cy</string>
      <string>O-cy.2</string>
      <string>O-cy.3</string>
      <string>O-cy.4</string>
      <string>Ereversed-cy.ss01</string>
      <string>Iu-cy.ss01</string>
      <string>Ereversed-cy.ss03</string>
      <string>Iu-cy.ss03</string>
      <string>zero</string>
      <string>at</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Thorn</string>
      <string>Er-cy</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>S.ss03</string>
      <string>Dze-cy</string>
      <string>Dze-cy.ss03</string>
    </array>
    <key>public.kern1.S.ss01</key>
    <array>
      <string>S.ss01</string>
      <string>Sacute.ss01</string>
      <string>Scaron.ss01</string>
      <string>Scedilla.ss01</string>
    </array>
    <key>public.kern1.Sha-cy</key>
    <array>
      <string>Sha-cy</string>
      <string>Sha-cy.ss03</string>
      <string>Sha-cy.ss05</string>
      <string>sha-cy</string>
    </array>
    <key>public.kern1.Softsign-cy</key>
    <array>
      <string>Softsign-cy</string>
      <string>Lje-cy</string>
      <string>Nje-cy</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>T.ss03</string>
      <string>Te-cy</string>
      <string>Te-cy.ss03</string>
    </array>
    <key>public.kern1.Tshe-cy</key>
    <array>
      <string>Tshe-cy</string>
      <string>Dje-cy</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>U.ss01</string>
      <string>Uacute.ss01</string>
      <string>Ucircumflex.ss01</string>
      <string>Udieresis.ss01</string>
      <string>Ugrave.ss01</string>
      <string>Uhungarumlaut.ss01</string>
      <string>Umacron.ss01</string>
      <string>Uogonek.ss01</string>
      <string>Uring.ss01</string>
      <string>J.ss03</string>
      <string>U.ss03</string>
      <string>Uacute.ss03</string>
      <string>Ucircumflex.ss03</string>
      <string>Udieresis.ss03</string>
      <string>Ugrave.ss03</string>
      <string>Je-cy</string>
    </array>
    <key>public.kern1.V.ss04</key>
    <array>
      <string>V.ss04</string>
      <string>W.ss04</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>W.ss03</string>
      <string>Wacute.ss03</string>
      <string>Wcircumflex.ss03</string>
      <string>Wdieresis.ss03</string>
      <string>Wgrave.ss03</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
      <string>Ha-cy</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>U-cy</string>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern1.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Ze-cy.ss03</string>
    </array>
    <key>public.kern1.ampersand</key>
    <array>
      <string>ampersand</string>
      <string>ampersand.ss03</string>
    </array>
    <key>public.kern1.bullet</key>
    <array>
      <string>bullet</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>equal</string>
    </array>
    <key>public.kern1.guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>underscore</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question.ss01</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>asterisk</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>degree</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>A.ss03</string>
      <string>Aacute.ss03</string>
      <string>Abreve.ss03</string>
      <string>Acircumflex.ss03</string>
      <string>Adieresis.ss03</string>
      <string>Agrave.ss03</string>
      <string>Amacron.ss03</string>
      <string>Aogonek.ss03</string>
      <string>Aring.ss03</string>
      <string>Atilde.ss03</string>
      <string>A-cy</string>
      <string>A-cy.ss03</string>
    </array>
    <key>public.kern2.A-cy.ss04</key>
    <array>
      <string>A-cy.ss04</string>
    </array>
    <key>public.kern2.A.ss02</key>
    <array>
      <string>A.ss02</string>
      <string>Aacute.ss02</string>
      <string>Abreve.ss02</string>
      <string>Acircumflex.ss02</string>
      <string>Adieresis.ss02</string>
      <string>Agrave.ss02</string>
      <string>Amacron.ss02</string>
      <string>Aogonek.ss02</string>
      <string>Aring.ss02</string>
      <string>Atilde.ss02</string>
      <string>El-cy.loclBGR</string>
      <string>A-cy.ss02</string>
      <string>El-cy.ss02</string>
    </array>
    <key>public.kern2.Che-cy</key>
    <array>
      <string>Che-cy</string>
    </array>
    <key>public.kern2.De-cy</key>
    <array>
      <string>De-cy</string>
    </array>
    <key>public.kern2.De-cy.ss02</key>
    <array>
      <string>De-cy.loclBGR</string>
      <string>De-cy.ss02</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>E.ss03</string>
      <string>Eacute.ss03</string>
      <string>Ecaron.ss03</string>
      <string>Ecircumflex.ss03</string>
      <string>Edieresis.ss03</string>
      <string>Edotaccent.ss03</string>
      <string>Egrave.ss03</string>
      <string>Emacron.ss03</string>
      <string>Eogonek.ss03</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Iegrave-cy.ss01</string>
      <string>Ie-cy.ss03</string>
      <string>Iegrave-cy.ss03</string>
      <string>Io-cy.ss03</string>
    </array>
    <key>public.kern2.El-cy</key>
    <array>
      <string>El-cy</string>
      <string>Lje-cy</string>
    </array>
    <key>public.kern2.El-cy.ss04</key>
    <array>
      <string>El-cy.ss04</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>F</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>Ka-cy</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Tse-cy</string>
      <string>Sha-cy</string>
      <string>Shcha-cy</string>
      <string>Dzhe-cy</string>
      <string>Nje-cy</string>
      <string>Iishort-cy.ss01</string>
      <string>Iigrave-cy.ss01</string>
      <string>Ii-cy.ss03</string>
      <string>Iishort-cy.ss03</string>
      <string>Iigrave-cy.ss03</string>
      <string>Sha-cy.ss03</string>
      <string>Shcha-cy.ss03</string>
      <string>Sha-cy.ss05</string>
      <string>Shcha-cy.ss05</string>
    </array>
    <key>public.kern2.Hardsign-cy</key>
    <array>
      <string>Hardsign-cy</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>I-cy</string>
      <string>Yi-cy</string>
    </array>
    <key>public.kern2.Ia-cy</key>
    <array>
      <string>Ia-cy</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>J.ss03</string>
      <string>Je-cy</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
      <string>M.ss03</string>
      <string>Em-cy</string>
      <string>Em-cy.ss03</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>O.2</string>
      <string>O.3</string>
      <string>O.4</string>
      <string>Oacute.2</string>
      <string>Oacute.3</string>
      <string>Oacute.4</string>
      <string>Ocircumflex.2</string>
      <string>Ocircumflex.3</string>
      <string>Ocircumflex.4</string>
      <string>Odieresis.2</string>
      <string>Odieresis.3</string>
      <string>Odieresis.4</string>
      <string>Ograve.2</string>
      <string>Ograve.3</string>
      <string>Ograve.4</string>
      <string>Otilde.2</string>
      <string>Otilde.3</string>
      <string>Otilde.4</string>
      <string>B.ss01</string>
      <string>C.ss01</string>
      <string>Cacute.ss01</string>
      <string>Ccaron.ss01</string>
      <string>Ccedilla.ss01</string>
      <string>G.ss03</string>
      <string>Ve-cy</string>
      <string>O-cy</string>
      <string>Es-cy</string>
      <string>E-cy</string>
      <string>Ereversed-cy</string>
      <string>O-cy.2</string>
      <string>O-cy.3</string>
      <string>O-cy.4</string>
      <string>Ve-cy.ss01</string>
      <string>E-cy.ss01</string>
      <string>E-cy.ss03</string>
      <string>zero</string>
      <string>at</string>
    </array>
    <key>public.kern2.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>S.ss03</string>
      <string>Dze-cy</string>
      <string>Dze-cy.ss03</string>
    </array>
    <key>public.kern2.S.ss01</key>
    <array>
      <string>S.ss01</string>
      <string>Sacute.ss01</string>
      <string>Scaron.ss01</string>
      <string>Scedilla.ss01</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>T.ss03</string>
      <string>Te-cy</string>
      <string>Tshe-cy</string>
      <string>Dje-cy</string>
      <string>Te-cy.ss03</string>
      <string>Tshe-cy.ss03</string>
      <string>Dje-cy.ss03</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>U.ss01</string>
      <string>Uacute.ss01</string>
      <string>Ucircumflex.ss01</string>
      <string>Udieresis.ss01</string>
      <string>Ugrave.ss01</string>
      <string>Uhungarumlaut.ss01</string>
      <string>Umacron.ss01</string>
      <string>Uogonek.ss01</string>
      <string>Uring.ss01</string>
      <string>U.ss03</string>
      <string>Uacute.ss03</string>
      <string>Ucircumflex.ss03</string>
      <string>Udieresis.ss03</string>
      <string>Ugrave.ss03</string>
    </array>
    <key>public.kern2.V.ss04</key>
    <array>
      <string>V.ss04</string>
      <string>W.ss04</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>W.ss03</string>
      <string>Wacute.ss03</string>
      <string>Wcircumflex.ss03</string>
      <string>Wdieresis.ss03</string>
      <string>Wgrave.ss03</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
      <string>Ha-cy</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>U-cy</string>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern2.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Ze-cy.ss03</string>
    </array>
    <key>public.kern2.Zhe-cy</key>
    <array>
      <string>Zhe-cy</string>
    </array>
    <key>public.kern2.ampersand</key>
    <array>
      <string>ampersand</string>
      <string>ampersand.ss03</string>
    </array>
    <key>public.kern2.bullet</key>
    <array>
      <string>bullet</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>equal</string>
    </array>
    <key>public.kern2.guillemetleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>underscore</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
      <string>question.ss01</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>asterisk</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>degree</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern2.tse-cy.ss04</key>
    <array>
      <string>tse-cy</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
    </array>
  </dict>
</plist>
