<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.ss02</key>
    <dict>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>T.ss01</key>
      <integer>10</integer>
      <key>V.ss01</key>
      <integer>10</integer>
    </dict>
    <key>Be-cy</key>
    <dict>
      <key>public.kern2.Hardsign-cy</key>
      <integer>10</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>T.ss01</key>
      <integer>10</integer>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>nine</key>
      <integer>-10</integer>
    </dict>
    <key>H.ss01</key>
    <dict>
      <key>V</key>
      <integer>-30</integer>
      <key>nine</key>
      <integer>-30</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>seven</key>
      <integer>-30</integer>
    </dict>
    <key>Ha-cy</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.El-cy</key>
      <integer>15</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>Q</key>
      <integer>-10</integer>
      <key>T.ss01</key>
      <integer>40</integer>
      <key>V.ss01</key>
      <integer>40</integer>
      <key>one</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>20</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>Ka-cy</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>D</key>
      <integer>-30</integer>
      <key>H.ss01</key>
      <integer>-60</integer>
      <key>Q</key>
      <integer>-10</integer>
      <key>T.ss01</key>
      <integer>-100</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>V.ss01</key>
      <integer>-130</integer>
      <key>X</key>
      <integer>-20</integer>
      <key>Z</key>
      <integer>-20</integer>
      <key>dollar</key>
      <integer>-30</integer>
      <key>euro</key>
      <integer>-60</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>nine</key>
      <integer>-170</integer>
      <key>one</key>
      <integer>-90</integer>
      <key>public.kern2.E</key>
      <integer>-10</integer>
      <key>public.kern2.I</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-120</integer>
      <key>public.kern2.W</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
      <key>public.kern2.bullet</key>
      <integer>-70</integer>
      <key>public.kern2.question</key>
      <integer>-110</integer>
      <key>public.kern2.quoteright</key>
      <integer>-150</integer>
      <key>seven</key>
      <integer>-130</integer>
    </dict>
    <key>O-cy</key>
    <dict>
      <key>public.kern2.A.ss02</key>
      <integer>-20</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
      <key>ampersand</key>
      <integer>0</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <integer>-30</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>nine</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-10</integer>
    </dict>
    <key>S.ss04</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>T.ss01</key>
    <dict>
      <key>T.ss01</key>
      <integer>10</integer>
      <key>four</key>
      <integer>-130</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.E</key>
      <integer>-60</integer>
      <key>public.kern2.H</key>
      <integer>0</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>six</key>
      <integer>-120</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>H</key>
      <integer>-30</integer>
      <key>H.ss01</key>
      <integer>20</integer>
      <key>N</key>
      <integer>10</integer>
      <key>Q</key>
      <integer>-40</integer>
      <key>R</key>
      <integer>-60</integer>
      <key>T.ss01</key>
      <integer>60</integer>
      <key>V</key>
      <integer>40</integer>
      <key>V.ss01</key>
      <integer>70</integer>
      <key>X</key>
      <integer>10</integer>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>eight</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-150</integer>
      <key>one</key>
      <integer>60</integer>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.bullet</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-110</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>seven</key>
      <integer>40</integer>
      <key>six</key>
      <integer>-120</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>V.ss01</key>
    <dict>
      <key>eight</key>
      <integer>-20</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-90</integer>
      <key>one</key>
      <integer>10</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.E</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-40</integer>
      <key>public.kern2.I</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-80</integer>
      <key>two</key>
      <integer>-30</integer>
    </dict>
    <key>V.ss02</key>
    <dict>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.H</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>20</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>nine</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.bullet</key>
      <integer>-50</integer>
      <key>six</key>
      <integer>-20</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>A.ss02</key>
      <integer>-40</integer>
      <key>A.ss04</key>
      <integer>-10</integer>
      <key>V.ss02</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-40</integer>
      <key>one</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.bullet</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>ampersand.ss04</key>
    <dict>
      <key>H</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <integer>-20</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-20</integer>
    </dict>
    <key>braceright</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>20</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>euro</key>
    <dict>
      <key>public.kern2.bullet</key>
      <integer>-60</integer>
      <key>public.kern2.guillemetleft</key>
      <integer>-50</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-10</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>T.ss01</key>
      <integer>-70</integer>
      <key>V</key>
      <integer>-70</integer>
      <key>V.ss01</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <integer>-90</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>guillemetleft</key>
    <dict>
      <key>numbersign</key>
      <integer>-40</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>R</key>
      <integer>-100</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>ampersand</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>H</key>
      <integer>0</integer>
      <key>public.kern2.A.ss02</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>R</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.V.ss04</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>parenright</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>H.ss01</key>
      <integer>-20</integer>
      <key>T.ss01</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-20</integer>
      <key>V.ss01</key>
      <integer>-30</integer>
      <key>nine</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>public.kern2.El-cy</key>
      <integer>20</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>-5</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
      <key>public.kern2.tse-cy.ss04</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.A.ss02</key>
    <dict>
      <key>numbersign</key>
      <integer>-20</integer>
      <key>public.kern2.A.ss02</key>
      <integer>20</integer>
      <key>public.kern2.Che-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Hardsign-cy</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.tse-cy.ss04</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.AE</key>
    <dict>
      <key>A.ss02</key>
      <integer>-40</integer>
      <key>A.ss04</key>
      <integer>-20</integer>
      <key>D</key>
      <integer>-10</integer>
      <key>V.ss02</key>
      <integer>-30</integer>
      <key>Z</key>
      <integer>-20</integer>
      <key>braceright</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-30</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>parenright</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.I</key>
      <integer>0</integer>
      <key>public.kern2.ampersand</key>
      <integer>-10</integer>
      <key>public.kern2.bullet</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>A.ss02</key>
      <integer>-20</integer>
      <key>H.ss01</key>
      <integer>-10</integer>
      <key>R</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>V.ss01</key>
      <integer>-20</integer>
      <key>X</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>numbersign</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.A.ss02</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.De-cy</key>
    <dict>
      <key>public.kern2.De-cy</key>
      <integer>25</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>20</integer>
      <key>public.kern2.Hardsign-cy</key>
      <integer>-45</integer>
      <key>public.kern2.I</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.tse-cy.ss04</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.De-cy.ss02</key>
    <dict>
      <key>public.kern2.A.ss02</key>
      <integer>20</integer>
      <key>public.kern2.De-cy.ss02</key>
      <integer>30</integer>
      <key>public.kern2.Hardsign-cy</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>T.ss01</key>
      <integer>10</integer>
      <key>V.ss01</key>
      <integer>10</integer>
      <key>numbersign</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-10</integer>
      <key>public.kern2.bullet</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>A.ss02</key>
      <integer>-130</integer>
      <key>A.ss04</key>
      <integer>-100</integer>
      <key>H.ss01</key>
      <integer>10</integer>
      <key>Q</key>
      <integer>-40</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>T.ss01</key>
      <integer>70</integer>
      <key>V</key>
      <integer>30</integer>
      <key>V.ss01</key>
      <integer>50</integer>
      <key>X</key>
      <integer>30</integer>
      <key>Z</key>
      <integer>10</integer>
      <key>ampersand.ss04</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-100</integer>
      <key>numbersign</key>
      <integer>-30</integer>
      <key>one</key>
      <integer>40</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.U</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>public.kern2.period</key>
      <integer>-110</integer>
      <key>public.kern2.question</key>
      <integer>30</integer>
      <key>public.kern2.quoteright</key>
      <integer>50</integer>
      <key>seven</key>
      <integer>50</integer>
      <key>six</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>-50</integer>
      <key>sterling</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>T.ss01</key>
      <integer>-30</integer>
      <key>V.ss01</key>
      <integer>-30</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Ge-cy</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.A-cy.ss04</key>
      <integer>-65</integer>
      <key>public.kern2.De-cy</key>
      <integer>-50</integer>
      <key>public.kern2.De-cy.ss02</key>
      <integer>-50</integer>
      <key>public.kern2.El-cy</key>
      <integer>-30</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-75</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Gheupturn-cy</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.A-cy.ss04</key>
      <integer>-85</integer>
      <key>public.kern2.A.ss02</key>
      <integer>-90</integer>
      <key>public.kern2.De-cy</key>
      <integer>-100</integer>
      <key>public.kern2.De-cy.ss02</key>
      <integer>-100</integer>
      <key>public.kern2.El-cy</key>
      <integer>-80</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-85</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>A.ss04</key>
      <integer>-20</integer>
      <key>Q</key>
      <integer>-10</integer>
      <key>R</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>ampersand.ss04</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.De-cy</key>
      <integer>-5</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-15</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>V.ss01</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.De-cy</key>
      <integer>-20</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>numbersign</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>A.ss02</key>
      <integer>-40</integer>
      <key>A.ss04</key>
      <integer>-30</integer>
      <key>Q</key>
      <integer>-10</integer>
      <key>R</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.De-cy</key>
      <integer>-15</integer>
      <key>public.kern2.E</key>
      <integer>-10</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V.ss04</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>V.ss01</key>
      <integer>20</integer>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-70</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.A-cy.ss04</key>
      <integer>-70</integer>
      <key>public.kern2.A.ss02</key>
      <integer>-80</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>seven</key>
      <integer>10</integer>
      <key>six</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>numbersign</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>V</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-40</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-30</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Sha-cy</key>
    <dict>
      <key>public.kern2.E</key>
      <integer>-15</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Softsign-cy</key>
    <dict>
      <key>public.kern2.El-cy</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>H</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>40</integer>
      <key>ampersand.ss04</key>
      <integer>-30</integer>
      <key>four</key>
      <integer>-130</integer>
      <key>numbersign</key>
      <integer>-80</integer>
      <key>one</key>
      <integer>50</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.A-cy.ss04</key>
      <integer>-80</integer>
      <key>public.kern2.A.ss02</key>
      <integer>-70</integer>
      <key>public.kern2.De-cy</key>
      <integer>-75</integer>
      <key>public.kern2.El-cy</key>
      <integer>-70</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-70</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>50</integer>
      <key>public.kern2.bullet</key>
      <integer>-90</integer>
      <key>public.kern2.period</key>
      <integer>-90</integer>
      <key>public.kern2.question</key>
      <integer>30</integer>
      <key>seven</key>
      <integer>50</integer>
      <key>six</key>
      <integer>-120</integer>
      <key>sterling</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>10</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Tshe-cy</key>
    <dict>
      <key>public.kern2.A.ss02</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>A.ss02</key>
      <integer>-50</integer>
      <key>A.ss04</key>
      <integer>-40</integer>
      <key>T.ss01</key>
      <integer>30</integer>
      <key>V</key>
      <integer>0</integer>
      <key>four</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.V.ss04</key>
    <dict>
      <key>A.ss02</key>
      <integer>-140</integer>
      <key>A.ss04</key>
      <integer>-110</integer>
      <key>H</key>
      <integer>-40</integer>
      <key>N.ss01</key>
      <integer>-10</integer>
      <key>Q</key>
      <integer>-80</integer>
      <key>R</key>
      <integer>-60</integer>
      <key>ampersand.ss04</key>
      <integer>-60</integer>
      <key>eight</key>
      <integer>-20</integer>
      <key>euro</key>
      <integer>-20</integer>
      <key>exclam</key>
      <integer>-40</integer>
      <key>five</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-120</integer>
      <key>numbersign</key>
      <integer>-60</integer>
      <key>one</key>
      <integer>20</integer>
      <key>parenleft</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.E</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
      <key>seven</key>
      <integer>10</integer>
      <key>six</key>
      <integer>-90</integer>
      <key>slash</key>
      <integer>-120</integer>
      <key>sterling</key>
      <integer>-50</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>Q</key>
      <integer>-10</integer>
      <key>R</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>ampersand.ss04</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-40</integer>
      <key>numbersign</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>10</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>20</integer>
      <key>six</key>
      <integer>-30</integer>
      <key>sterling</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>El-cy.ss02</key>
      <integer>30</integer>
      <key>public.kern2.A.ss02</key>
      <integer>0</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>A.ss02</key>
      <integer>-180</integer>
      <key>A.ss04</key>
      <integer>-101</integer>
      <key>Q</key>
      <integer>-50</integer>
      <key>R</key>
      <integer>-50</integer>
      <key>T.ss01</key>
      <integer>60</integer>
      <key>V</key>
      <integer>20</integer>
      <key>V.ss01</key>
      <integer>60</integer>
      <key>X</key>
      <integer>10</integer>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>ampersand.ss04</key>
      <integer>-50</integer>
      <key>braceleft</key>
      <integer>-40</integer>
      <key>eight</key>
      <integer>-30</integer>
      <key>euro</key>
      <integer>-30</integer>
      <key>exclam</key>
      <integer>-20</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-150</integer>
      <key>numbersign</key>
      <integer>-50</integer>
      <key>one</key>
      <integer>50</integer>
      <key>parenleft</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.A.ss02</key>
      <integer>-90</integer>
      <key>public.kern2.De-cy</key>
      <integer>-85</integer>
      <key>public.kern2.De-cy.ss02</key>
      <integer>-90</integer>
      <key>public.kern2.El-cy</key>
      <integer>-70</integer>
      <key>public.kern2.El-cy.ss04</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-110</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.guillemetleft</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-190</integer>
      <key>seven</key>
      <integer>40</integer>
      <key>six</key>
      <integer>-120</integer>
      <key>slash</key>
      <integer>-110</integer>
      <key>sterling</key>
      <integer>-50</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Ze-cy</key>
    <dict>
      <key>public.kern2.El-cy</key>
      <integer>15</integer>
    </dict>
    <key>public.kern1.ampersand</key>
    <dict>
      <key>X</key>
      <integer>20</integer>
      <key>nine</key>
      <integer>20</integer>
      <key>numbersign</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>seven</key>
      <integer>20</integer>
      <key>six</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.bullet</key>
    <dict>
      <key>T.ss01</key>
      <integer>-70</integer>
      <key>V.ss01</key>
      <integer>-10</integer>
      <key>Z</key>
      <integer>-30</integer>
      <key>ampersand.ss04</key>
      <integer>10</integer>
      <key>euro</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.guillemetright</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>H.ss01</key>
      <integer>-30</integer>
      <key>V.ss01</key>
      <integer>-160</integer>
      <key>euro</key>
      <integer>-80</integer>
      <key>numbersign</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.question</key>
    <dict>
      <key>Q</key>
      <integer>-30</integer>
      <key>R</key>
      <integer>-30</integer>
      <key>T.ss01</key>
      <integer>30</integer>
      <key>V</key>
      <integer>0</integer>
      <key>V.ss01</key>
      <integer>20</integer>
      <key>ampersand.ss04</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>sterling</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>Q</key>
      <integer>-80</integer>
      <key>T.ss01</key>
      <integer>10</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>V.ss01</key>
      <integer>20</integer>
      <key>ampersand.ss04</key>
      <integer>-50</integer>
      <key>dollar</key>
      <integer>-30</integer>
      <key>numbersign</key>
      <integer>-150</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-35</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>sterling</key>
      <integer>-40</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>H.ss01</key>
      <integer>20</integer>
      <key>R</key>
      <integer>-60</integer>
      <key>T.ss01</key>
      <integer>70</integer>
      <key>V</key>
      <integer>30</integer>
      <key>V.ss01</key>
      <integer>70</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-130</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.U</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>40</integer>
      <key>public.kern2.ampersand</key>
      <integer>-20</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>T.ss01</key>
      <integer>-110</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>V.ss01</key>
      <integer>-80</integer>
      <key>Z</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.ampersand</key>
      <integer>-10</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
    </dict>
    <key>sterling</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.question</key>
      <integer>-20</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>V</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-20</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>R</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-10</integer>
      <key>V.ss01</key>
      <integer>-20</integer>
      <key>Z</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V.ss04</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
