<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3303</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>00DCCE7B-9FE0-47F0-A2D7-5EE5378DC4A6</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.master.name</key>
    <string>Atome</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>200</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>H</string>
      <string>Hbar</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>J</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>O.2</string>
      <string>O.3</string>
      <string>O.4</string>
      <string>Oacute.2</string>
      <string>Oacute.3</string>
      <string>Oacute.4</string>
      <string>Ocircumflex.2</string>
      <string>Ocircumflex.3</string>
      <string>Ocircumflex.4</string>
      <string>Odieresis.2</string>
      <string>Odieresis.3</string>
      <string>Odieresis.4</string>
      <string>Ograve.2</string>
      <string>Ograve.3</string>
      <string>Ograve.4</string>
      <string>Ohungarumlaut.2</string>
      <string>Ohungarumlaut.3</string>
      <string>Ohungarumlaut.4</string>
      <string>Omacron.2</string>
      <string>Omacron.3</string>
      <string>Omacron.4</string>
      <string>Otilde.2</string>
      <string>Otilde.3</string>
      <string>Otilde.4</string>
      <string>B.ss01</string>
      <string>C.ss01</string>
      <string>Cacute.ss01</string>
      <string>Ccaron.ss01</string>
      <string>Ccedilla.ss01</string>
      <string>D.ss01</string>
      <string>E.ss01</string>
      <string>Eacute.ss01</string>
      <string>Ecaron.ss01</string>
      <string>Ecircumflex.ss01</string>
      <string>Edieresis.ss01</string>
      <string>Edotaccent.ss01</string>
      <string>Egrave.ss01</string>
      <string>Emacron.ss01</string>
      <string>Eogonek.ss01</string>
      <string>H.ss01</string>
      <string>K.ss01</string>
      <string>Kcommaaccent.ss01</string>
      <string>M.ss01</string>
      <string>N.ss01</string>
      <string>Nacute.ss01</string>
      <string>Ncaron.ss01</string>
      <string>Ncommaaccent.ss01</string>
      <string>Ntilde.ss01</string>
      <string>S.ss01</string>
      <string>Sacute.ss01</string>
      <string>Scaron.ss01</string>
      <string>Scedilla.ss01</string>
      <string>T.ss01</string>
      <string>Tbar.ss01</string>
      <string>Tcaron.ss01</string>
      <string>Tcedilla.ss01</string>
      <string>U.ss01</string>
      <string>Uacute.ss01</string>
      <string>Ucircumflex.ss01</string>
      <string>Udieresis.ss01</string>
      <string>Ugrave.ss01</string>
      <string>Uhungarumlaut.ss01</string>
      <string>Umacron.ss01</string>
      <string>Uogonek.ss01</string>
      <string>Uring.ss01</string>
      <string>V.ss01</string>
      <string>X.ss01</string>
      <string>A.ss02</string>
      <string>Aacute.ss02</string>
      <string>Abreve.ss02</string>
      <string>Acircumflex.ss02</string>
      <string>Adieresis.ss02</string>
      <string>Agrave.ss02</string>
      <string>Amacron.ss02</string>
      <string>Aogonek.ss02</string>
      <string>Aring.ss02</string>
      <string>Atilde.ss02</string>
      <string>V.ss02</string>
      <string>A.ss03</string>
      <string>Aacute.ss03</string>
      <string>Abreve.ss03</string>
      <string>Acircumflex.ss03</string>
      <string>Adieresis.ss03</string>
      <string>Agrave.ss03</string>
      <string>Amacron.ss03</string>
      <string>Aogonek.ss03</string>
      <string>Aring.ss03</string>
      <string>Atilde.ss03</string>
      <string>E.ss03</string>
      <string>Eacute.ss03</string>
      <string>Ecaron.ss03</string>
      <string>Ecircumflex.ss03</string>
      <string>Edieresis.ss03</string>
      <string>Edotaccent.ss03</string>
      <string>Egrave.ss03</string>
      <string>Emacron.ss03</string>
      <string>Eogonek.ss03</string>
      <string>G.ss03</string>
      <string>J.ss03</string>
      <string>M.ss03</string>
      <string>S.ss03</string>
      <string>T.ss03</string>
      <string>U.ss03</string>
      <string>Uacute.ss03</string>
      <string>Ucircumflex.ss03</string>
      <string>Udieresis.ss03</string>
      <string>Ugrave.ss03</string>
      <string>W.ss03</string>
      <string>Wacute.ss03</string>
      <string>Wcircumflex.ss03</string>
      <string>Wdieresis.ss03</string>
      <string>Wgrave.ss03</string>
      <string>A.ss04</string>
      <string>S.ss04</string>
      <string>V.ss04</string>
      <string>W.ss04</string>
      <string>W.ss01</string>
      <string>germandbls</string>
      <string>ordmasculine</string>
      <string>A-cy</string>
      <string>Be-cy</string>
      <string>Ve-cy</string>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
      <string>Gheupturn-cy</string>
      <string>De-cy</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Zhe-cy</string>
      <string>Ze-cy</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>Ka-cy</string>
      <string>Kje-cy</string>
      <string>El-cy</string>
      <string>Em-cy</string>
      <string>En-cy</string>
      <string>O-cy</string>
      <string>Pe-cy</string>
      <string>Er-cy</string>
      <string>Es-cy</string>
      <string>Te-cy</string>
      <string>U-cy</string>
      <string>Ushort-cy</string>
      <string>Ef-cy</string>
      <string>Ha-cy</string>
      <string>Che-cy</string>
      <string>Tse-cy</string>
      <string>Sha-cy</string>
      <string>Shcha-cy</string>
      <string>Dzhe-cy</string>
      <string>Softsign-cy</string>
      <string>Yeru-cy</string>
      <string>Hardsign-cy</string>
      <string>Lje-cy</string>
      <string>Nje-cy</string>
      <string>Dze-cy</string>
      <string>E-cy</string>
      <string>Ereversed-cy</string>
      <string>I-cy</string>
      <string>Yi-cy</string>
      <string>Je-cy</string>
      <string>Tshe-cy</string>
      <string>Iu-cy</string>
      <string>Ia-cy</string>
      <string>Dje-cy</string>
      <string>O-cy.2</string>
      <string>O-cy.3</string>
      <string>O-cy.4</string>
      <string>De-cy.loclBGR</string>
      <string>El-cy.loclBGR</string>
      <string>Ef-cy.loclBGR</string>
      <string>Ve-cy.ss01</string>
      <string>Ie-cy.ss01</string>
      <string>Iegrave-cy.ss01</string>
      <string>Io-cy.ss01</string>
      <string>Zhe-cy.ss01</string>
      <string>Ze-cy.ss01</string>
      <string>Ii-cy.ss01</string>
      <string>Iishort-cy.ss01</string>
      <string>Iigrave-cy.ss01</string>
      <string>Ka-cy.ss01</string>
      <string>Kje-cy.ss01</string>
      <string>Em-cy.ss01</string>
      <string>En-cy.ss01</string>
      <string>Pe-cy.ss01</string>
      <string>Es-cy.ss01</string>
      <string>Te-cy.ss01</string>
      <string>Ef-cy.ss01</string>
      <string>Ha-cy.ss01</string>
      <string>Dzhe-cy.ss01</string>
      <string>Dze-cy.ss01</string>
      <string>E-cy.ss01</string>
      <string>Ereversed-cy.ss01</string>
      <string>Iu-cy.ss01</string>
      <string>A-cy.ss02</string>
      <string>De-cy.ss02</string>
      <string>El-cy.ss02</string>
      <string>A-cy.ss03</string>
      <string>Ie-cy.ss03</string>
      <string>Iegrave-cy.ss03</string>
      <string>Io-cy.ss03</string>
      <string>Ze-cy.ss03</string>
      <string>Ii-cy.ss03</string>
      <string>Iishort-cy.ss03</string>
      <string>Iigrave-cy.ss03</string>
      <string>Em-cy.ss03</string>
      <string>Te-cy.ss03</string>
      <string>Sha-cy.ss03</string>
      <string>Shcha-cy.ss03</string>
      <string>Dze-cy.ss03</string>
      <string>E-cy.ss03</string>
      <string>Ereversed-cy.ss03</string>
      <string>Je-cy.ss03</string>
      <string>Tshe-cy.ss03</string>
      <string>Iu-cy.ss03</string>
      <string>Dje-cy.ss03</string>
      <string>A-cy.ss04</string>
      <string>El-cy.ss04</string>
      <string>Dze-cy.ss04</string>
      <string>Sha-cy.ss05</string>
      <string>Shcha-cy.ss05</string>
      <string>Ef-cy.loclBGR.ss01</string>
      <string>tse-cy</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>space</string>
      <string>.notdef</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>question.ss01</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>at</string>
      <string>ampersand</string>
      <string>degree</string>
      <string>numero</string>
      <string>ampersand.ss03</string>
      <string>ampersand.ss04</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>equal</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>brevecomb-cy</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>apostrophemod</string>
      <string>VTF</string>
      <string>lava</string>
      <string>module</string>
      <string>orn.001</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>A-cy</key>
      <string>uni0410</string>
      <key>A-cy.ss02</key>
      <string>uni0410.ss02</string>
      <key>A-cy.ss03</key>
      <string>uni0410.ss03</string>
      <key>A-cy.ss04</key>
      <string>uni0410.ss04</string>
      <key>Acaron</key>
      <string>uni01CD</string>
      <key>Be-cy</key>
      <string>uni0411</string>
      <key>Che-cy</key>
      <string>uni0427</string>
      <key>De-cy</key>
      <string>uni0414</string>
      <key>De-cy.loclBGR</key>
      <string>uni0414.loclBGR</string>
      <key>De-cy.ss02</key>
      <string>uni0414.ss02</string>
      <key>Dje-cy</key>
      <string>uni0402</string>
      <key>Dje-cy.ss03</key>
      <string>uni0402.ss03</string>
      <key>Dze-cy</key>
      <string>uni0405</string>
      <key>Dze-cy.ss01</key>
      <string>uni0405.ss01</string>
      <key>Dze-cy.ss03</key>
      <string>uni0405.ss03</string>
      <key>Dze-cy.ss04</key>
      <string>uni0405.ss04</string>
      <key>Dzhe-cy</key>
      <string>uni040F</string>
      <key>Dzhe-cy.ss01</key>
      <string>uni040F.ss01</string>
      <key>E-cy</key>
      <string>uni0404</string>
      <key>E-cy.ss01</key>
      <string>uni0404.ss01</string>
      <key>E-cy.ss03</key>
      <string>uni0404.ss03</string>
      <key>Ef-cy</key>
      <string>uni0424</string>
      <key>Ef-cy.loclBGR</key>
      <string>uni0424.loclBGR</string>
      <key>Ef-cy.loclBGR.ss01</key>
      <string>uni0424.loclBGR.ss01</string>
      <key>Ef-cy.ss01</key>
      <string>uni0424.ss01</string>
      <key>El-cy</key>
      <string>uni041B</string>
      <key>El-cy.loclBGR</key>
      <string>uni041B.loclBGR</string>
      <key>El-cy.ss02</key>
      <string>uni041B.ss02</string>
      <key>El-cy.ss04</key>
      <string>uni041B.ss04</string>
      <key>Em-cy</key>
      <string>uni041C</string>
      <key>Em-cy.ss01</key>
      <string>uni041C.ss01</string>
      <key>Em-cy.ss03</key>
      <string>uni041C.ss03</string>
      <key>En-cy</key>
      <string>uni041D</string>
      <key>En-cy.ss01</key>
      <string>uni041D.ss01</string>
      <key>Er-cy</key>
      <string>uni0420</string>
      <key>Ereversed-cy</key>
      <string>uni042D</string>
      <key>Ereversed-cy.ss01</key>
      <string>uni042D.ss01</string>
      <key>Ereversed-cy.ss03</key>
      <string>uni042D.ss03</string>
      <key>Es-cy</key>
      <string>uni0421</string>
      <key>Es-cy.ss01</key>
      <string>uni0421.ss01</string>
      <key>Gcommaaccent</key>
      <string>uni0122</string>
      <key>Ge-cy</key>
      <string>uni0413</string>
      <key>Gheupturn-cy</key>
      <string>uni0490</string>
      <key>Gje-cy</key>
      <string>uni0403</string>
      <key>Ha-cy</key>
      <string>uni0425</string>
      <key>Ha-cy.ss01</key>
      <string>uni0425.ss01</string>
      <key>Hardsign-cy</key>
      <string>uni042A</string>
      <key>I-cy</key>
      <string>uni0406</string>
      <key>Ia-cy</key>
      <string>uni042F</string>
      <key>Ie-cy</key>
      <string>uni0415</string>
      <key>Ie-cy.ss01</key>
      <string>uni0415.ss01</string>
      <key>Ie-cy.ss03</key>
      <string>uni0415.ss03</string>
      <key>Iegrave-cy</key>
      <string>uni0400</string>
      <key>Iegrave-cy.ss01</key>
      <string>uni0400.ss01</string>
      <key>Iegrave-cy.ss03</key>
      <string>uni0400.ss03</string>
      <key>Ii-cy</key>
      <string>uni0418</string>
      <key>Ii-cy.ss01</key>
      <string>uni0418.ss01</string>
      <key>Ii-cy.ss03</key>
      <string>uni0418.ss03</string>
      <key>Iigrave-cy</key>
      <string>uni040D</string>
      <key>Iigrave-cy.ss01</key>
      <string>uni040D.ss01</string>
      <key>Iigrave-cy.ss03</key>
      <string>uni040D.ss03</string>
      <key>Iishort-cy</key>
      <string>uni0419</string>
      <key>Iishort-cy.ss01</key>
      <string>uni0419.ss01</string>
      <key>Iishort-cy.ss03</key>
      <string>uni0419.ss03</string>
      <key>Io-cy</key>
      <string>uni0401</string>
      <key>Io-cy.ss01</key>
      <string>uni0401.ss01</string>
      <key>Io-cy.ss03</key>
      <string>uni0401.ss03</string>
      <key>Iu-cy</key>
      <string>uni042E</string>
      <key>Iu-cy.ss01</key>
      <string>uni042E.ss01</string>
      <key>Iu-cy.ss03</key>
      <string>uni042E.ss03</string>
      <key>Je-cy</key>
      <string>uni0408</string>
      <key>Je-cy.ss03</key>
      <string>uni0408.ss03</string>
      <key>Ka-cy</key>
      <string>uni041A</string>
      <key>Ka-cy.ss01</key>
      <string>uni041A.ss01</string>
      <key>Kcommaaccent</key>
      <string>uni0136</string>
      <key>Kcommaaccent.ss01</key>
      <string>uni0136.ss01</string>
      <key>Kje-cy</key>
      <string>uni040C</string>
      <key>Kje-cy.ss01</key>
      <string>uni040C.ss01</string>
      <key>Lje-cy</key>
      <string>uni0409</string>
      <key>Ncommaaccent</key>
      <string>uni0145</string>
      <key>Ncommaaccent.ss01</key>
      <string>uni0145.ss01</string>
      <key>Nje-cy</key>
      <string>uni040A</string>
      <key>O-cy</key>
      <string>uni041E</string>
      <key>O-cy.2</key>
      <string>uni041E.2</string>
      <key>O-cy.3</key>
      <string>uni041E.3</string>
      <key>O-cy.4</key>
      <string>uni041E.4</string>
      <key>Pe-cy</key>
      <string>uni041F</string>
      <key>Pe-cy.ss01</key>
      <string>uni041F.ss01</string>
      <key>Rcommaaccent</key>
      <string>uni0156</string>
      <key>Scommaaccent</key>
      <string>uni0218</string>
      <key>Sha-cy</key>
      <string>uni0428</string>
      <key>Sha-cy.ss03</key>
      <string>uni0428.ss03</string>
      <key>Sha-cy.ss05</key>
      <string>uni0428.ss05</string>
      <key>Shcha-cy</key>
      <string>uni0429</string>
      <key>Shcha-cy.ss03</key>
      <string>uni0429.ss03</string>
      <key>Shcha-cy.ss05</key>
      <string>uni0429.ss05</string>
      <key>Softsign-cy</key>
      <string>uni042C</string>
      <key>Tcedilla</key>
      <string>uni0162</string>
      <key>Tcedilla.ss01</key>
      <string>uni0162.ss01</string>
      <key>Tcommaaccent</key>
      <string>uni021A</string>
      <key>Te-cy</key>
      <string>uni0422</string>
      <key>Te-cy.ss01</key>
      <string>uni0422.ss01</string>
      <key>Te-cy.ss03</key>
      <string>uni0422.ss03</string>
      <key>Tse-cy</key>
      <string>uni0426</string>
      <key>Tshe-cy</key>
      <string>uni040B</string>
      <key>Tshe-cy.ss03</key>
      <string>uni040B.ss03</string>
      <key>U-cy</key>
      <string>uni0423</string>
      <key>Ushort-cy</key>
      <string>uni040E</string>
      <key>Ve-cy</key>
      <string>uni0412</string>
      <key>Ve-cy.ss01</key>
      <string>uni0412.ss01</string>
      <key>Yeru-cy</key>
      <string>uni042B</string>
      <key>Yi-cy</key>
      <string>uni0407</string>
      <key>Ze-cy</key>
      <string>uni0417</string>
      <key>Ze-cy.ss01</key>
      <string>uni0417.ss01</string>
      <key>Ze-cy.ss03</key>
      <string>uni0417.ss03</string>
      <key>Zhe-cy</key>
      <string>uni0416</string>
      <key>Zhe-cy.ss01</key>
      <string>uni0416.ss01</string>
      <key>apostrophemod</key>
      <string>uni02BC</string>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>brevecomb-cy</key>
      <string>uni0306.cy</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>commaaccentcomb</key>
      <string>uni0326</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>euro</key>
      <string>Euro</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>numero</key>
      <string>uni2116</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>sha-cy</key>
      <string>uni0448</string>
      <key>shcha-cy</key>
      <string>uni0449</string>
      <key>tse-cy</key>
      <string>uni0446</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>W.ss01</string>
      <string>orn.001</string>
    </array>
  </dict>
</plist>
